.feedCoffee {
    max-width: 1164px;
    margin: 0 auto;
    height: calc(100vh - '39.6rem');
    display: flex;
    gap: 3.4rem;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.feedCoffee__title {
    margin-top: 2rem;
    max-width: 588px;
    font-size: clamp(2.2rem, 3vw, 3rem);
    font-weight: extra-bold;
    line-height: 1.2;
    color: #272221;
}

.feedCoffee__wrapperCoffee {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3.2rem;
    margin-top: 4rem;
}

.feedCoffee__wrapperCoffee .coffeeCard {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 2.4rem;
    border-radius: 1.6rem;
    background-color: var(--base-card);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: center;
}

.coffeeCard__img {
    margin-top: -3.2rem;
    width: 100%;
}

.coffeCard__wrapperPills {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1.6rem;
}

.coffeCard .coffeCard__wrapperPills .pill {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--yellow);
    background-color: var(--yellow-light);
    padding: 0.8rem 1.6rem;
    text-transform: uppercase;
}