.feedSummary {
    width: 100%;
    height: 34rem;
    display: flex;
    gap: 5.6rem;
    align-items: center;
    justify-content: center;
    background-color: var(--base-background);
}

.feedSummary__info {
    max-width: 588px;
    padding: 0 1.6rem;
}

.feedSummary__titleContent {
    margin-bottom: 1.6rem;
}

.feedSummary__titleContent > p {
    font-size: 1.2rem;
    color: var(--base-subtitle);
}

.feedSummary__title {
    font-size: clamp(2.2rem, 3vw, 3rem);
    font-weight: extra-bold;
    line-height: 1.2;
    color: #272221;
}

.feedSummary__options {
    display: grid;
    min-width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
}

.feedSummary__option {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.feedSummary__option > p {
    font-size: .9rem;
    color: var(--base-text);
}

.feedSummary__optionPill {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 0.2rem 0.4rem;
}

.feedSummary__optionPill--shoppingCart {
    background: var(--yellow-dark);
}

.feedSummary__optionPill--package {
    background: var(--base-text);
}

.feedSummary__optionPill--timer {
    background: var(--yellow);
}

.feedSummary__optionPill--coffee {
    background: var(--purple);
}

@media (max-width: 800px) {
    .feedSummary {
        height: auto;
        padding: 2.4rem 1.6rem;
        gap: 2.4rem;
        flex-direction: column;
        align-items: flex-start;
    }

    .feedSummary > img {
        width: 100%;
    }

    .feedSummary__info {
        max-width: 100%;
    }

    .feedSummary__title {
        font-size: clamp(1.8rem, 3vw, 2.2rem);
    }

    .feedSummary__options {
        grid-template-columns: repeat(4, 1fr);
    }

    .feedSummary__option {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}